{% extends "base.html" %}

{% block sidebar%}
    {{ block.super }}
{% endblock sidebar%}

{% block content %}
    {% block task_list %}
        {% if tasks %}
        <table>
            <thead>
                <tr>
                     <th width="20">Id</th>
                     <th width="150">Name</th>
                     <th width="50">Status</th>
                     <th width="50">Workers</th>
                     <th width="30">Time</th>
                     <th width="30">Project</th>

                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="/projector/task/{{ task.id }}/">{{ task.name }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.workers.count }}:
                        {% for worker in task.workers.all %}
                            {{ worker }}
                        {% endfor %}
                    </td>
                    <td>{{ task.expected_time }}</td>
                    <td><a href="/projector/project/{{ task.project.id }}/">{{ task.project.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endblock task_list %}
{% endblock content%}
