{% extends "base.html" %}

{% block sidebar%}
    {{ block.super }}
{% endblock sidebar%}

{% block content %}
    {% block task_list %}
        {% if tasks %}
            <h2>Tasks: </h2>
            <div class="large-offset-1 columns">
                {% for task in tasks %}
                    <div>
                        <h3><a href="/projector/task/{{ task.id }}/">{{ task.name }}</a> from
                        <a href="/projector/project/{{ task.project.id }}/">{{ task.project.name }}</a>
                        <a href="/projector/task/{{ task.parent_task.id }}/">{{ task.parent_task.name}}</a>
                        </h3>
                        <p>Creator: {{ task.creator }}</p>
                        <p>Created: {{ task.create_date }}</p>
                        <p>Status: {{ task.status }}</p>
                        <p>Started: {{ task.start_date }} </p>

                        <p>Workers: {{ task.workers.count }}:</p>
                            {% for worker in task.workers.all %}
                                {{ worker }}
                            {% endfor %}
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock task_list %}
{% endblock content%}
