{% extends "base.html" %}

{% block sidebar%}
    {{ block.super }}
{% endblock sidebar%}

{% block content %}
    <pre ><code class="python">
        def task_comment(request, task_id):
            task = Task.objects.get(id=task_id)
            user = auth.get_user(request)
            if request.method == 'POST':
                form = TaskCommentForm(request.POST)
                if form.is_valid():
                    c = form.save(commit=False)
                    c.task = task
                    c.author = user
    </code></pre>
    <pre><code class="xml">&lt;!DOCTYPE html&gt;
    &lt;title&gt;Title&lt;/title&gt;
    &lt;style&gt;body {width: 500px;}&lt;/style&gt;
    &lt;script type="application/javascript"&gt;
      function $init() {return true;}
    &lt;/script&gt;
    &lt;body&gt;
      &lt;p checked class="title" id='title'&gt;Title&lt;/p&gt;
      &lt;!-- here goes the rest of the page --&gt;
    &lt;/body&gt;
    </code></pre>

{% endblock content%}
